*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container_principal{
    margin: 0 auto;
    max-width: 80%;
}
.clear{
    clear: both;
}
header{
    padding: 17px 0;
    background-color: red;
}

.links_menu_header{
    float: right;
}
.links_menu_header a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.apresentacao{
    background-color: blue;
    margin: 5% 0;
    text-align: justify;

}
.foto_perfil{
    height: 200px;
    width: 200px;
    background-color: green;
    float: left;
    display: inline;
    border: 3px solid black;
    border-radius: 100px;
    margin-right: 10px;
}